VERSION = 1.0.0

# Three different modes
# modes = {index | segmentation }
MODUS = "index"

# modes = {elastic | fhir }
INDEX_EXPORT = "elastic"
SEGMENTATION_EXPORT = "nifty"

# General kafka props
BOOTSTRAP_SERVER=<your-kafka-broker-name>:<IP>
MAX_POLL_RECORDS = 3

# Kafka props per modus
INCOMING_INDEX_TOPIC_NAME="impetus.ct-indexer.index"
OUTGOING_INDEX_TOPIC_NAME="impetus.ct-indexer.index.results"
INDEX_CONSUMER_GROUP="impetus-ct-indexer-index-grp-0"

INCOMING_SEGMENTATION_TOPIC_NAME="impetus.ct-indexer.segmentation"
OUTGOING_SEGMENTATION_TOPIC_NAME="impetus.ct-indexer.segmentation.results"
SEGMENTATION_CONSUMER_GROUP="ct-indexer-segmentation-grp-0"

ERROR_TOPIC_NAME="medicsh.datalake.json.impax.ct-indexer.error"
INDEX_CONSUMER_GROUP="impetus-ct-indexer-error-grp-0"

# S3 props
# Warning: no path is allowed, so don't put http/https
S3_ENDPOINT="<your-s3-endpoint>"
S3_ACCESS_KEY="<access>"
S3_SECRET_KEY="<secret>"
SSL_ON = True # False

# Directory Validation
MIN_FILES_NUMBER = 10